// SHOE-LACE SCSS //
@import "helpers/_variables";
@import "helpers/_functions";
@import "helpers/_mixins";

// COMPONENTS
@import "components/_navbar";
@import "components/_buttons";
@import "components/_badges";
@import "components/_breadcrumbs";
@import "components/_cards";
@import "components/_forms";


// UTILITY / TEST CLASSES //
.finishedSec {
  border: 1px solid green;
  margin: .1em;
}

.dashB {
  border: 1px dashed black;
  margin: 2%;
  text-align: center;

}
.solidB {
  border: 1px solid black;
  margin: 1em;
  text-align: center;
}





//  FORMS //




//  BUTTONS //




// FONT //
