// SHOE-LACE SCSS //
@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";

// COMPONENTS
@import "components/_navbar";

//COMPONENTS
@@import "components/bottons";
@@import "components/type";
@@import "components/collections";
@@import "components/badges";

// UTILITY / TEST CLASSES //
.finishedSec{
  border: 1px solid green;
}

.dashB {
  border: 1px dashed black;
  margin: 1em;
  text-align: center;
}
.solidB {
  border: 1px solid black;
  margin: 1em;
  text-align: center;
}





//  FORMS //




//  BUTTONS /



// FONT //
