<html>
<body>
<section class="flat">
  <p1> Flat = </p1>
    <button>Button</button>
    <button class="hover">:hover</button>
    <button class="active">:active</button>
</section>

<section class="border">
  <p1> Bord =</p1>
    <button>Button</button>
    <button class="hover">:hover</button>
    <button class="active">:active</button>
</section>

<section class="gradient">
  <p1> Grad =</p1>
    <button>Button</button>
    <button class="hover">:hover</button>
    <button class="active">:active</button>
</section>

<section class="press">
  <p1> Press =</p1>
    <button>Button</button>
    <button class="hover">:hover</button>
    <button class="active">:active</button>
</section>
</html>
</body>
