/*basic*/

<ul class="collections">
      <li class="items">Amine</li>
      <li class="items">Jon</li>
      <li class="items">Amine</li>
      <li class="items">Jon</li>
    </ul>

/*headers*/

<ul class="collections with-header">
        <li class="headers"><h4>Car brands</h4></li>
        <li class="items">Mercedes</li>
        <li class="items">Audi</li>
        <li class="items">Bmw</li>
        <li class="items">Honda</li>
      </ul>
/*links*/

<div class="collection">
       <a href="https://www.mercedes-benz.com/en/" class="items">mercedes-benz</a>
       <a href="https://www.audi.com/en/" class="items active">Audi</a>
       <a href="https://www.bmw.com/en/" class="items">Bmw</a>
       <a href="https://www.honda.com/en/" class="items">Honda</a>
     </div>
