/**
 * Demo Styles
 */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: center;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "roboto", Comic, sans-serif;
}

.demo {
  margin: 0 auto;
  padding-top: 72px;
  max-width: 525px;
  width: 80%;
}

.demo h1 {
  margin-top: 0;
}

/**
 * Footer Styles
 */

.footer {
  position: bottom;
  right: 1;
  bottom: 0;
  left: -1;
  padding: 3rem;
  background-color: #fff;
  text-align: relative;
}
